################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
GPT.ckpt
Mini-LM-L6-v2.ckpt
